

<footer>
  <link href="https://fonts.googleapis.com/css?family=Nunito+Sans:300" rel="stylesheet">
  <nav class="navbar navbar-fixed-bottom row" role="navigation">
            <div class="container">
                <div class="row">
                    <div class="col-sm-4 myCols">
                        <ul>
                            <li><a href="#" class="footer">Home</a></li>
                            <li><a href="#" class="footer">Resources</a></li>
                            <li><a href="#" class="footer">Downloads</a></li>
                        </ul>
                    </div>
                    <div class="col-sm-4 myCols">
                        <ul>
                            <li><a href="#" class="footer">Company Information</a></li>
                            <li><a href="#" class="footer">Contact us</a></li>
                            <li><a href="#" class="footer">Suggestions</a></li>
                        </ul>
                    </div>
                    <div class="col-sm-4 myCols">
                        <ul>
                            <li><a href="#"class="footer">Terms of Service</a></li>
                            <li><a href="#"class="footer">Terms of Use</a></li>
                            <li><a href="#"class="footer">Privacy Policy</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </footer>
    </body>

    </html>
