<footer>
  <link href="https://fonts.googleapis.com/css?family=Nunito+Sans:300" rel="stylesheet">
  <nav class="navbar navbar-fixed-bottom" role="navigation">
    
  </nav>

</footer>
</body>
</html>
