<style>
body {
  line-height: 1.5em;
  font-family: 'Nunito Sans' sans-serif;
}
.navbar-fixed-bottom {
  text-align: center;
  padding-top: 25px;
  background-color: #414a4c;
}
.footer-link{
  text-decoration: none;
  color: white;
}
</style>

<footer>
  <link href="https://fonts.googleapis.com/css?family=Nunito+Sans:300" rel="stylesheet">
  <nav class="navbar navbar-fixed-bottom" role="navigation">
    <a href="#" class="footer-link">Copyright 2016</a>
    <a href="#" class="footer-link">Contact</a>
    <a href="#" class="footer-link">Suggestions</a>
  </nav>
</footer>
</div>
</body>
</html>
