<style>
body {
  line-height: 1.5em;
  font-family: 'Nunito Sans' sans-serif;
}
.navbar-fixed-bottom {
  text-align: center;
  padding-top: 15px;
  background-color: #414a4c;
}
.footer-link{
  text-decoration: none;
  color: white;
}
</style>

<footer>
  <link href="https://fonts.googleapis.com/css?family=Nunito+Sans:300" rel="stylesheet">
  <nav class="navbar navbar-fixed-bottom row" role="navigation">
    <div class="col-md-4"><a href="#" class="footer-link">Contact</a></div>
    <div class="col-md-4"><a href="#" class="footer-link">Suggestions</a></div>
    <div class="col-md-4"><a href="#" class="footer-link">Copyright 2016 <span class="glyphicon glyphicon-copyright-mark"></span></a></div>
  </nav>
</footer>
</div>
</body>
</html>
