  <!DOCTYPE html>
  <style>
  body {
    line-height: 1;
    font-family: 'Nunito Sans' sans-serif;
  }
  .navbar-fixed-bottom {
    text-align: center;
    padding-top: 15px;
    background-color: #414a4c;
  }
  .footer-link {
    text-decoration: none;
    color: white;
    font-size: .825em;
  }
  a {
    color: #000;
    text-decoration: none;
  }
  #paragraph {
    font-size: .825em;
  }
  </style>


  <html lang="en">
    <head>
      <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1">
      <title>{{ title }}</title>
      <link rel="stylesheet" href="./public/stylesheets/style.css">
      <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
      <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
      <link href="https://fonts.googleapis.com/css?family=Nunito+Sans:400" rel="stylesheet">
      <script src="handlebars-v3.0.0.js"></script>
    </head>

  <body>
    {{> header }}

    <div class="container">
    {{{body}}}
    </div>

{{> footer}}
