<style>
a {
  color: #000;
  font-size: 1.25em;
}
a:hover {
  text-decoration: none;
  color: #939393;
}
</style>

<h1>References and Cheat Sheets</h1>
<br>
<div>
  <a href="https://drive.google.com/open?id=0B2TEZJT8hjuRTlNWbnVzV3dzNm8">Express 4</a>
</div>
<br>
<div>
  <a href="https://drive.google.com/open?id=0B2TEZJT8hjuRU3dpY0t2Q2ktYWM">Workflow of Version Control</a>
</div>
<br>
<div>
  <a href="https://drive.google.com/open?id=0B2TEZJT8hjuRckZ4WWp2andZVGc">CLI Cheat Sheet</a>
</div>
<br>
<div>
  <a href="https://drive.google.com/open?id=0B2TEZJT8hjuRMFkyRTVIQ2M5MHc">Git for Subversion Users</a>
</div>
<br>
<div>
  <a href="https://drive.google.com/open?id=0B2TEZJT8hjuRaEY0RW9EMDFONVU">Git</a>
</div>
<br>
<div>
  <a href="https://drive.google.com/open?id=0B2TEZJT8hjuRWDkwQkFEazZreGs">Xcode</a>
</div>
<br>
<div>
  <a href="https://drive.google.com/open?id=0B2TEZJT8hjuRZ2NvTWJwUEhLLU0">Bourbon, Neat, Bitters</a>
</div>
<br>
<div>
  <a href="https://drive.google.com/open?id=0B6K2B2YjelHvTFZLVDB6Rzl0ek0">Numeric Codes</a>
</div>
<br>
<div>
  <a href="https://drive.google.com/open?id=0B6K2B2YjelHvTVBwaGUyaDItaEE">Firefox Shortcuts</a>
</div>
