<h1>Dictionary</h1>
<br>
<div>
<script id="terms" type="text/x-handlebars-template">

  {{#each term}}
    <div>{{ term }}</div>
    <p>{{ level }}, {{ language }}</p>
    {{#each definition}}
    <p>{{ definition }}
      {{/each}}
  {{/each}}
