<style>
body {
  line-height: 1.5em;
  font-family: 'Nunito Sans', sans-serif;
}
</style>

<h1>Dictionary</h1>
<br>
<script id="terms" type="text/x-handlebars-template">​
 <div> {{ term }} </div>
 <div> {{ level }}​ , {{ language }}</div>
 <div> {{ definition}} </div>
​</script>
