<link href="https://fonts.googleapis.com/css?family=Nunito+Sans:700,800" rel="stylesheet">

<style>
h1, h3 {
  text-align: center;
  font-family: 'Nunito Sans', sans-serif;
}
</style>

  <h1>Error</h1>
  <hr>
  <h3>Sorry, we're working on that!</h3>
