
<div class="container">
  <div class="homeText">
    <div class="homeTitle">
      <br><br>
      <h3> About </h3>
    </div>
    <p> Bootd was created as a way to help myself understand material as well as helping future cohorts and others who want to teach themselves to code.<p>
      <img src="/images/image1.png" alt="Coders never die!">
    </div>
  </div>
