<style>
body, p {
  line-height: 1.5em;
  background-color: #97aa48;
  font-weight: 400;
  padding: 3px;
}
img {
  float:left;
  padding: 15px;
}
</style>

<div class="container">
  <div class="homeText">
    <div class="homeTitle">
      <br><br>
      <h3> About </h3>
    </div>
    <p> Bootd was created as a way to help myself understand material as well as
      helping future cohorts and others who want to teach themselves to code.<p>
      <img src="./images/image1.png" alt="Coders never die! When you feel like
      giving up, remember why you held on for so long." height="300px">
      <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy
        eirmod tempor invidunt ut labore et dolore magna aliquyam erat,
        sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.
        Stet clita kasd gubergren, no sea takimata sanctus est Lorem
        ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr,
        sed diam nonumy eirmod tempor invidunt ut labore et dolore
        magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.
        Stet clita kasd gubergren, no sea takimata
        sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr,
        sed diam nonumy eirmod tempor invidunt ut
        labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores
        et ea rebum. Stet clita kasd gubergren,
        no sea takimata sanctus est Lorem ipsum dolor sit amet.
</p>
    </div>
  </div>
