<style>
a {
  color: #000;
}
a:hover {
  text-decoration: none;
  color: #939393;
}
</style>

<h1>Libraries</h1>
<br>
<div>
  <div>
  <a href="https://creativemarket.com/free-goods">Creative Market</a>
  <p><small>Check back every week for freebies.</small></p>
  </div>
  <div>
    <a href="http://getbootstrap.com/">Bootstrap</a>
  </div>
  <br>
  <div>
    <a href="https://cdnjs.com/libraries/10up-sanitize.css">Sanitize.css</a>
  </div>
  <br>
  <div>
    <a href="https://facebook.github.io/react/">React</a>
  </div>
  <br>
  <div>
    <a href="https://github.com/reactjs/redux">Redux</a>
  </div>
  <br>
  <div>
    <a href="https://angular.io">Angular2</a>
  </div>
  <br>
  <div>
    <a href="https://github.com/Reactive-Extensions/RxJS">RxJS</a>
  </div>
  <br>
  <div>
    <a href="https://standards.usa.gov/typography/">US Government Web Design Standards</a>
  </div>
  <br>
  <div>
    <a href="http://tutorialzine.com/tag/freebie/">Bootstrap Templates</a>
  </div>
  <br>
  <div>
    <a href="https://www.packtpub.com/packt/offers/free-learning">Packtpub</a>
    <p><small>A new free ebook every day, though they're generally really niche stuff.</small></p>
  </div>
  <div>
    <a href="https://html5up.net">HTML5Up</a>
    <p><small>Really good website templates for download.</small></p>
  </div>
  <div>
    <a href="https://github.com/pugjs/pug">Pug</a>
    <p><small>Pug, not Jade. Been a long time gone, Jade. Now it's a format delight on a moonlit night~</small></p>
  </div>
  <div>
    <a href="http://www.tutorialspoint.com/codingground.htm">Tutorialspoint Coding Ground</a>
    <p><small>Completely web-based terminals and IDEs.<small></p>
  </div>
</div>
