<br><br><br>
<div>
  <div>
  <a href="/studytips"><h4>Study Tips</h4></a>

  </div>
<br>
  <div>
  <a href="/libraries"><h4>Good Libraries to Use</h4></a>

  </div>
<br>
  <div>
  <a href="/cheats"><h4>References and Cheat Sheets</h4></a>
    </div>
</div>
<br>
<div>
  <a href="/chill"><h4>Moment of Zen</h4></a>
  <p><small>Just take a break, sometimes it's all you need.</small><p>
</div>
