<style>
a {
  color: #000;
}
a:hover {
  text-decoration: none;
  color: #939393;
}
</style>

<div id="resources">
  <div>
  <a href="/studytips"><h3>Study Tips</h3></a>

  </div>
<br>
  <div>
  <a href="/libraries"><h3>Good Libraries to Use</h3></a>

  </div>
<br>
  <div>
  <a href="/cheats"><h3>References and Cheat Sheets</h3></a>
    </div>
</div>
<br>
<div>
  <a href="/chill"><h3>Moment of Zen</h43></a>
  <p><small>Just take a break, sometimes it's all you need.</small><p>
</div>
</div>
