<style>
a {
  color: #000;
  font-size: 1.25em;
}
a:hover {
  text-decoration: none;
  color: #939393;
}
</style>

<div id="resources">
  <div>
  <a href="/studytips"><h2>Study Tips</h2></a>

  </div>
<br>
  <div>
  <a href="/libraries"><h2>Libraries</h2></a>

  </div>
<br>
  <div>
  <a href="/cheats"><h2>References and Cheat Sheets</h2></a>
    </div>
</div>
<br>
<div>
  <a href="/chill"><h2>Moment of Zen</h2></a>
  <p><small>Just take a break, sometimes it's all you need.</small><p>
</div>
</div>
