body {
  line-height: 1.5em;
  font-family: 'Nunito Sans', sans-serif;
}
p {
  text-align: center;
}
.navbar-fixed-bottom {
  text-align: center;
  padding-top: 25px;
  background-color: black;
}
a .footer-link{
  text-decoration: none;
  color: white;
}
  a {
    text-decoration: none;;
    color: #000;
  }
