body {
  line-height: 1.5em;
}
p {
  text-align: center;
}
.navbar-fixed-bottom {
  text-align: center;
  padding-top: 50px;
  background-color: black;
}
a .footer-link{
  text-decoration: none;
  color: white;
}
